#ManagementPage{
    position: absolute;
    height:100%;
    width:100%;
    min-width: 1200px;
}
#ManagementPage  .room-grid{
    width:25%;
    min-width: 200px;
    margin-bottom: 20px;
    font-size:1.5vh;
    
}
.table{
    margin-bottom: 0;
}

.hourcell{
    padding:0;
}
#ManagementPage #NavBar{
    height:10% !important;

}

#ScheduleTable table{
    height:1vh;
}

#ScheduleTable td,th{
    padding:0.75em;
}

#ScheduleTable th{
    text-align: center;
}
#ManagementPage .row{
    height:90%;
    position: relative;
    width:100%;   
}
#ManagementPage #left-side{
    margin:2%;
}
#ManagementPage .left{
    text-align: center;
    margin: 0 auto;
}



#ManagementPage  #CardDeck{
    padding:5%;
    height:100%;
    
    

}
#ManagementPage #CardContainer{
    border-style: solid;
}

#ManagementPage  .room-grid .card-body{
    padding-right: 2%;
}
#ManagementPage .ToggleButton{
    display:none;
}

#ManagementPage #right-side{
    padding:2.5%;
    padding-bottom: 5%;
    min-height:200px;
    
}



#ManagementPage  #Pagination-block{
    display: flex;
    justify-content:center;
    bottom: 0;
 
    left:50%;
    right:50%;
    
}


@media screen and (max-width:887px){
    #ManagementPage{
        height:auto;
        min-width: 0;
    }
    #ManagementPage #left-side{
        width:100%;
    }
    #ManagementPage .ToggleButton{
        display:block;
        width:100%;
    }
    #ManagementPage  #CardDeck{
        padding:5%;
        height:100%;
        width:100%;
        
        
    }
    #ManagementPage  .room-grid{
        width:100%;
        min-width: 200px;
        margin-bottom: 20px;
        
    }
}